:root {
  --font-title: 'Helvetica', 'Arial', sans-serif;
  --font-text: 'Jost', sans-serif;
  --blue-color: #00acd7;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: var(--font-text);
}

html {
  scroll-behavior: smooth;
}

A:link,
A:hover,
A:visited {
  color: black;
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  background-color: #f7f7f7;
}

/* Srollbar */
body::-webkit-scrollbar-track {
  background-color: black;
}
body::-webkit-scrollbar {
  width: 15px;
  /* display: none; */
}
body::-webkit-scrollbar-thumb {
  background-color: #05738f;
}
.separador {
  border-top: 2px solid var(--blue-color);
  height: 2px;
  width: 50%;
  padding: 0;
  margin: 0 auto 0 auto;
}

/* ---- Top button ----*/
#topButton {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--blue-color);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 100%;
  font-size: 25px;
  width: 60px;
  height: 60px;
}

#topButton:hover {
  background-color: #037b99;
}
/* ---- HAMB MENU ----*/
.hamb-menu__container {
  display: none;
  justify-content: flex-end;
  padding-right: 30px;
}
.hamb-menu__icon {
  width: 40px;
  height: 35px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-right: 5px;
}
.line {
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
}
.change .line1 {
  transform: rotateZ(-45deg) translate(-8px, 8px);
  background-color: var(--blue-color);
}
.change .line2 {
  opacity: 0;
}
.change .line3 {
  transform: rotateZ(45deg) translate(-8px, -8px);
  background-color: var(--blue-color);
}
.hamb-menu__nav {
  /* display: none; */
  height: 100vh;
  width: 75vw;
  position: fixed;
  top: 0;
  right: -100%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.9);
  border-left: 1px solid var(--blue-color);
  transition: all 1.5s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15vw;
}
.hamb-menu__nav a {
  margin: 2vh 0;
  font-size: 20px;
  font-weight: 400;
  color: white;
}
.hamb-menu__nav span {
  color: var(--blue-color);
  font-weight: 900;
  font-size: 30px;
  margin-right: 5px;
}
.show {
  position: absolute;
  top: 0;
  right: 0;
}
/* ---- HEADER ---- */
header {
  max-width: 100%;
}
.navbar {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0);
}
.navbar ul {
  display: flex;
  font-size: 22px;
}
.navbar ul li {
  margin: 0 4vw;
}
.navbar ul li a {
  color: white;
  display: inline-block;
  background-image: linear-gradient(var(--blue-color), var(--blue-color));
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s;
  background-position: 0 calc(100% - 0px);
}
.navbar ul li a:hover {
  background-size: 100% 2px;
}

/* ---- MAIN ---- */
.background-img {
  width: 100%;
  height: 100vh;
  background: url(../images/code-1076536_1920.jpg) fixed;
  filter: grayscale(100%);
  position: absolute;
  top: 0;
  z-index: -2;
}
.background-degrade {
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.7679446778711485) 66%,
    rgba(0, 0, 0, 0.5) 100%
  );
  position: absolute;
  top: 0;
  z-index: -1;
}
.main-section {
  display: flex;
  height: 90vh;
  align-items: center;
  padding-bottom: 10vh;
}
aside {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 6vw;
}
.container-social-network {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px;
}

.container-social-network a {
  color: white;
  font-size: 30px;
  margin: 4vh 0;
}
.container-social-network a:hover {
  color: var(--blue-color);
}

.titles {
  font-family: var(--font-title);
}
.titles h1 {
  color: white;
  font-size: 65px;
  margin: 0;
  display: inline-block;
  background-image: linear-gradient(var(--blue-color), var(--blue-color));
  background-size: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.3s;
}
.titles h1:hover {
  background-size: 100%;
}
.titles h2 {
  color: var(--blue-color);
}
.arrow-down {
  display: none;
}

/* ---- ABOUT ---- */
.about {
  display: flex;
  padding: 10vh 10vw;
}
.container-img {
  width: 50%;
}
.container-img img {
  display: block;
  margin: auto;
  height: 100%;
  width: 400px;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.container-img img:hover {
  transform: scale(1.02) rotate(-1deg);
}
.container-desc {
  margin: auto;
  width: 50%;
  padding-left: 1vw;
  border-left: 3px solid var(--blue-color);
}
.container-desc h5 {
  font-size: 30px;
}
.container-desc p {
  font-size: 20px;
  max-width: 680px;
}
.container-desc p a {
  color: #ec183f;
}

/* ---- SKILLS ---- */
.skills {
  padding: 10vh 0;
}
.skills h3 {
  text-align: center;
  font-size: 40px;
}
.container-skills {
  margin: auto;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  color: #037b99;
  gap: 30px;
}
.container-skills li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  min-width: 200px;
  min-height: 200px;

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s ease-in-out;
}
.container-skills li:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.container-skills li i {
  font-size: 110px;
}
.container-skills li p {
  margin-top: 1vh;
  font-weight: normal;
  font-size: 25px;
}
.container-skills li a p {
  text-align: center;
}

.skills h4 {
  margin-top: 8vh;
  text-align: center;
  font-size: 30px;
}

.html5-color {
  color: #de4c23;
}
.css3-color {
  color: #4389c5;
}
.js-color {
  color: #ddc404;
}
.nodejs-color {
  color: #77b65d;
}
.react-color {
  color: #2fcbf7;
}
.bootstrap-color {
  color: #7952b3;
}
.laravel-color {
  color: #ff2d20;
}
.mysql-color {
  color: #505050;
}

.animated {
  opacity: 0;
}

@keyframes slide {
  from {
    transform: translateY(80px);
  }
  to {
    transform: translateY(0);
  }
}

/* ---- PROJECTS ---- */
.projects {
  padding: 10vh 0;
}
.projects h3 {
  text-align: center;
  font-size: 40px;
}
.container-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}
.container-projects article {
  width: 400px;
  height: 430px;
  margin: 0 20px 30px;
}
.project {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  justify-content: space-evenly;
  border-radius: 5px;
}
.project:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}

.project-img {
  display: flex;
  align-items: flex-end;
  padding: 0 90px;
}
.project-img img {
  width: 100%;
  align-self: flex-end;
  margin-bottom: 10px;
}
.text-project {
  height: 40%;
}
.project p {
  text-align: center;
  margin: 0 40px;
  padding-top: 20px;
  font-size: 15px;
}
.project-links i {
  color: rgb(100, 100, 100);
  font-size: 40px;
  margin: 0 15px;
}
.project-links i:hover {
  color: #037b99;
}
.project-links .fa-link {
  font-size: 36px;
}
/* ---- CONTACT ---- */

.contact {
  padding: 10vh 0;
}
.container-form {
  position: relative;
  margin: auto;
  border-radius: 10px;
  padding: 10px 20px;
  width: 30%;
  min-width: 450px;
}
.contact h3 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}
form {
  display: flex;
  flex-direction: column;
  margin: auto;
}
form textarea {
  min-height: 100px;
}

.camp-form input,
textarea {
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}
textarea:focus,
input:focus {
  border: 1px solid var(--blue-color);
  outline: none;
}
.camp-form {
  margin-bottom: 3vh;
}
form button {
  width: 30%;
  margin: auto;
  border: none;
  background-color: var(--blue-color);
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
form button:hover {
  background-color: #037b99;
}
form button:active {
  transform: translateY(2px);
}
.error {
  color: red;
  padding: 5px 10px;
}

.ok-message {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--blue-color);
  transition: all 1s ease-in-out;
}
.show-message {
  display: block;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.ok-message i {
  position: absolute;
  font-size: 30px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.ok-message div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* ---- FOOTER ---- */
footer {
  background-color: black;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  font-size: 14px;
  color: white;
}

/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* ---------------- MEDIA QUERIES-------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */

@media (max-width: 1280px) {
  .container-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-img img {
    display: inline-block;
    margin: auto;
    width: 30vw;
    height: auto;
  }
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
  }
  .container-img img {
    margin-bottom: 10vh;
    width: 60vw;
  }

  .container-desc {
    width: 80vw;
    border-left: none;
  }
  .container-skills {
    flex-wrap: wrap;
  }
  .container-skills li {
    min-width: 30%;
  }
}
@media (max-width: 480px) {
  /* HAMB MENU*/
  .hamb-menu__container {
    display: flex;
  }
  #topButton {
    bottom: 30px;
    right: 20px;
  }
  .titles h1 {
    font-size: 6vh;
  }
  .titles h2 {
    font-size: 2vh;
    max-width: 60%;
  }
  .container-form {
    min-width: 90vw;
  }
  header {
    margin-top: 30px;
  }
  .navbar {
    height: 20vh;
    display: none;
  }
  .navbar ul {
    flex-direction: column;
    align-items: center;
    font-size: 18px;
  }
  .navbar ul li {
    margin: 2vh 4vw;
  }
  .main-section {
    padding-bottom: 0;
  }
  .arrow-down {
    display: block;
    color: white;
    position: absolute;
    left: calc(50% - 10px);
    bottom: 15px;
    text-align: center;
    font-size: 35px;
  }
  .container-skills li {
    width: 150px;
    min-height: 150px;
  }
  .container-skills li i {
    font-size: 80px;
  }
  .logo-eos p {
    padding-top: 0;
    font-size: 12px;
  }
  .eos-img {
    padding-bottom: 30px;
  }
  .project-img {
    height: 40%;
  }
  .text-project {
    height: 60%;
  }
  .project p {
    padding-top: 0;
    margin: 20px 20px 0;
  }
  .project-img img {
    margin-bottom: 0;
  }
}
